# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=krystal_aqua

# Telegram Configuration
TELEGRAM_BOT_TOKEN=8472901389:AAE-0RGynIjnyF6JUHbXyT2ycj7ppf8FQYY
TELEGRAM_CHAT_ID=1899746772

# Server Port
PORT=5000
